<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">

    <!-- 连接服务配置  -->
    <rabbit:connection-factory id="connectionFactory" host="127.0.0.1" username="guest"
                               password="guest" port="5672"  />

    <rabbit:admin connection-factory="connectionFactory"/>

    <!-- queue 队列声明-->
    <rabbit:queue id="command" durable="true" auto-delete="false" exclusive="false" name="command"/>
    <rabbit:queue id="queue_two" durable="true" auto-delete="false" exclusive="false" name="queue_two"/>


    <!-- exchange queue binging key 绑定 -->
    <rabbit:direct-exchange name="my-mq-exchange" durable="true" auto-delete="false" id="my-mq-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="command" key="queue_one_key"/>
            <rabbit:binding queue="queue_two" key="queue_two_key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 线程池活跃的线程数 -->
        <property name="corePoolSize" value="5" />
        <!-- 线程池最大活跃的线程数 -->
        <property name="maxPoolSize" value="10" />
        <!-- 队列的最大容量 -->
        <property name="queueCapacity" value="25" />
    </bean>

    <bean id="mqListener" class="listener.MqListener"/>
    <!--<bean id="mq2Listener" class="listener.Mq2Listener"/>-->
    <!--<bean id="mq3Listener" class="listener.Mq3Listener"/>-->

    <!-- queue litener  观察 监听模式 当有消息到达时会通知监听在对应的队列上的监听对象-->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto" task-executor="taskExecutor">
        <rabbit:listener queues="command" ref="mqListener"/>
        <!--<rabbit:listener queues="queue_two" ref="mq2Listener"/>-->
        <!--<rabbit:listener queues="queue_two" ref="mq3Listener"/>-->
    </rabbit:listener-container>

</beans>