<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="domain.mapper.MemberMapper">
    
    <resultMap id="result" type="member">
        <id column="id" property="id" jdbcType="BIGINT" ></id>
        <result column="phone" property="phone" jdbcType="VARCHAR"></result>
        <result column="username" property="userName" jdbcType="VARCHAR"></result>
        <result column="displayname" property="displayName" jdbcType="VARCHAR"></result>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
        <result column="sex" property="sex" jdbcType="INTEGER"></result>
        <result column="create_time" property="createTime" ></result>
        <result column="update_time" property="updateTime" ></result>
        <result column="remark" property="remark"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
    </resultMap>
    
    <sql id="select_sql">
        SELECT id,phone,username,displayname,sex,img_url,password,address,create_time,update_time,status
    </sql>

    <select id="queryPageList" resultMap="result">
        <include refid="select_sql" />
        FROM tb_member
        limit #{query.startRow},#{query.pageSize}
    </select>

    <select id="queryCountPage" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM tb_member
    </select>

    <select id="queryById" parameterType="long" resultMap="result">
        <include refid="select_sql"/>
        FROM tb_member WHERE id=#{id}
    </select>

    <select id="queryByUsername" parameterType="string" resultMap="result">
        <include refid="select_sql" />
        FROM tb_member WHERE username=#{username}
    </select>

    <select id="querylist" resultMap="result">
        <include refid="select_sql"/>
        FROM tb_member
    </select>
    
    <insert id="insertmember" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_member(phone,username,displayname,img_url,password,address,sex,create_time,update_time,remark,status)
        VALUES (#{phone},#{userName},#{displayName},#{imgUrl},#{password},#{address},#{sex},#{createTime},#{updateTime},#{remark},#{status})
    </insert>

    <delete id="deleteMember" parameterType="long">
        DELETE FROM tb_member WHERE id=#{id}
    </delete>
    
    <update id="updateStatus">
        UPDATE tb_member SET status=#{status} WHERE id=#{memberid}
    </update>
</mapper>