<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="domain.dao.MemberDao">
    
    <resultMap id="result" type="member">
        <id column="id" property="id" jdbcType="BIGINT" ></id>
        <result column="phone" property="phone" jdbcType="VARCHAR"></result>
        <result column="username" property="userName" jdbcType="VARCHAR"></result>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <result column="adress" property="address" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="DATE"></result>
        <result column="update_time" property="updateTime" jdbcType="DATE"></result>
    </resultMap>
    
    <sql id="select_sql">
        SELECT id,phone,username,img_url,password,adress,create_time,update_time
    </sql>
</mapper>