<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="domain.dao.RolePermDao">
    <resultMap id="" type="roleperm">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="roleid" property="roleId" jdbcType="BIGINT"></result>
        <result column="permid" property="permId" jdbcType="BIGINT"></result>
        <result column="permtype" property="permType" jdbcType="INTEGER"></result>
        <result column="create_time" property="createTime" jdbcType="DATE"></result>
        <result column="update_time" property="updateTime" jdbcType="DATE"></result>
    </resultMap>

    <sql id="select_sql">
        SELECT id,roleid,permid,permtypt,create_time,update_time
    </sql>
</mapper>