#set($layout =  "share/hi-layout.vm" )
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 业务消息管理 <span class="c-gray en">&gt;</span> 业务消息队列监听列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
##            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
##            #if($auth.isPermission("/role/resetadmin"))
##                <a href="javascript:;" onclick="admin_role_reset()" class="btn btn-warning radius"> 重置管理员</a>
##            #end
        </span>
    </div>
    <div class="mt-20">
        <div class="dataTables_wrapper no-footer">
            <table class="table table-border table-bordered table-hover table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="6">任务列表</th>
                </tr>
                <tr class="text-c">
                    <th width="200">消息监听类</th>
                    <th width="300">描述</th>
                    <th width="100">状态</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($item in $mqs.model)
                    <tr class="text-c">
                        <td>$!{item.mqName}</td>
                        <td>$!{item.mqRemark}</td>
                        <td>
                            #if($item.status==1)
                                <span class="label label-success radius">正在运行</span>
                            #end
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
            #pagination($mqs,"/mqlistener/index?1=1")
        </div>
    </div>
</div>

<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/js/h-ui/H-ui.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/js/h-ui/H-ui.admin.js"></script>