<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="domain.mapper.JobMapper">

    <resultMap id="result" type="job">
        <id column="id" property="id" jdbcType="BIGINT" ></id>
        <result column="jobName" property="jobName" jdbcType="VARCHAR"></result>
        <result column="corn" property="corn" jdbcType="VARCHAR"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
        <result column="createTime" property="createTime"></result>
    </resultMap>

    <sql id="select_sql">
        SELECT id,jobName,corn,remark,createTime
    </sql>

    <select id="queryById" parameterType="java.lang.Long" resultMap="result">
        <include refid="select_sql"/>
        FROM tb_job WHERE id=#{jobId}
    </select>

    <select id="queryList" resultMap="result">
        <include refid="select_sql"/>
        FROM tb_job
    </select>

    <select id="queryPageList" resultMap="result">
        <include refid="select_sql"/>
        FROM tb_job
        limit #{query.startRow},#{query.pageSize}
    </select>

    <select id="queryCountPage" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM tb_job
    </select>

    <insert id="insertJob">
        INSERT INTO tb_job(`jobName`,`createTime`,`remark`) VALUES (#{job.jobName},#{job.createTime},#{job.remark})
    </insert>

    <delete id="deleteJob" parameterType="java.lang.Long">
        DELETE FROM tb_job WHERE id=#{jobId}
    </delete>
</mapper>